*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.header{
    background-color:#1F2937;
    padding: 30px 100px 60px 100px;
    color: #fff;
}
.links ul{
    display: flex;
    gap: 15px;
    justify-content: center;


}
h1{
    font-weight: 700;
    color: #f9faf8;
}
.header-content{
    margin-top: 60px;
    display: flex;
    padding: 30px 50px;
   
}
.header-text{
    flex-direction: column;
}
.header-text p{
    font-size: 18px;
    color: #e5e7eb;
    width: 50%;
    text-align: left;
    margin-top: 20px;  
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color:#3882f6;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    font-size:1em;
    border: 0px;
    margin-top: 20px;
}
.image{
    
}
h3{
    text-align: center;
    /* padding-top: 30px; */
    font-weight: 700;
    font-size: 1.5em;
}
div.main-content{
    display: flex;
    margin-top: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
div.box{
    height: 120px;
    width: 200px;
    border-radius: 15px;

}
.box img{
    /* border: 1px solid #3882f6; */
    border-radius:15px;   
}
div.main{
    margin-bottom: 100px;
    margin-top: 30px;
}
div.testimonial{
    margin-top: 20px;
    padding:100px;
    background-color:#e5e7eb;
    margin-bottom: 50px;
}
.testimonial p{
    font-size: 36px;
    font-style: italic;
    color:#1F2937;
    text-align: center;
}
p.author{
    display: flex;
    justify-content: end;
    font-size: 25px;
}
div.signup{
    background-color:#3882f6;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    color: #e5e7eb;
    margin: 30px 70px;
    border-radius: 10px;
}
.signup-button{
    border: 1px solid #fff;
}
.signup-text{
    display: flex;
    flex-direction: column;
}

footer{
    background-color: #1F2937;
    padding: 20px;
    color: #e5e7eb;
    text-align: center;
}
